.title {
    -fx-font-size: x-large;
}

.inspectionPart {
    -fx-border-width: 1;
    -fx-border-color: #089de3;
}

.inspectionPart .hbox {
    -fx-background-color: #089de3;
}

.inspectionPart .label{
    -fx-font-size: large;
    -fx-text-fill: white;
}

.tree-view {
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

#ignored .text{
    -fx-strikethrough: true;
}

.tree-cell:selected {
    -fx-background-color: #089de3;
    -fx-text-fill: white;
}

.tree-cell:focused {
    -fx-background-color: #089de3;
    -fx-text-fill: white;
}

.text-area {
     -fx-background-color: white;
     -fx-focus-color: transparent;
     -fx-faint-focus-color: transparent;
 }

.sipId {
    -fx-font-size: small;
}

.hiddenTextField{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-text-fill: gray;
}

.list-cell{
    -fx-padding: 5px;
}

.ruleCell{
    -fx-border-color: lightgray;
    -fx-border-width: 2;
}

.ruleCell .label{
    -fx-font-size: medium;
    -fx-text-fill: black;
}

.ruleCell .title {
    -fx-font-size: large;
}

.ruleCell .top {
    -fx-background-color: lightgray;
}

.ruleCell .top .button{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 2px 2px 2px 5px;
}

.ruleCell .top .button:hover {
    -fx-background-color: darkgray;
    -fx-border-color: black;
}

.ruleCell .top .button:pressed {
    -fx-background-color: white;
    -fx-border-color: black;
}

