.title {
    -fx-font-size: large;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.top-subtitle {
    -fx-font-size: medium;
    -fx-text-fill: white;
    -fx-min-width: 60;
}

.title-box {
    -fx-background-color: -fx-dark;
}

.split-pane *.split-pane-divider {
    -fx-padding: 1px;
    -fx-background-color: #d8d8d8;
}

#footer-split-pane *.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

/* Inspection */
.inspectionPart {
    -fx-border-width: 1;
    -fx-border-color: -fx-alt-dark;
}

.inspectionPart .hbox {
    -fx-background-color: -fx-alt-dark;
}
.exportPanel {
    -fx-background: -fx-medium;
}
.error{
	-fx-text-fill: red;
}
.inspectionPart .label {
    -fx-font-size: medium;
    -fx-text-fill: white;
}

.inspectionPart .helpTitle {
    -fx-font-size: x-large;
    -fx-text-fill: black;
}

.sipId {
    -fx-font-size: medium;
}

.hiddenTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-text-fill: gray;
}

.text-area {
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: black;
}

.inspectionPart .formLabel {
    -fx-text-fill: black;
    -fx-font-size: medium;
}

.inspectionPart .formSeparator {
	-fx-font-size: large;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.code-area {
    -fx-font-size: 90%;
}

.inspectionPart .date-picker .label {
    -fx-text-fill: black;
    -fx-font-size: medium;
}

.inspectionPart .date-picker .arrow-button {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.inspectionPart .date-picker .button {
    -fx-background-color: transparent;
}

.inspectionPart .date-picker-popup > .month-year-pane {
    -fx-background-color: white;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.inspectionPart .date-picker-popup {
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.inspectionPart .text-field {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.inspectionPart .form-text-area {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.inspectionPart .popover .label {
    -fx-text-fill: black;
    -fx-font-size: medium;
}

/* Combo-Box */
.inspectionPart .combo-box-base .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.inspectionPart .combo-box .list-view .list-cell:selected {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

.inspectionPart .combo-box .list-view {
    -fx-border-color: transparent;
}

.inspectionPart .combo-box {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-max-height: 10;
}

.inspectionPart .combo-box-base .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.inspectionPart .combo-box .list-view .list-cell:hover {
    -fx-background-color: -fx-light;
}

.inspectionPart .combo-box .arrow {
    -fx-background-color: black;
}

.separator .line {
    /*-fx-border-style: segments(0.166667em, 0.166667em);*/
    -fx-border-width: 0.083333em; /* 1 */
}

.separator:vertical .line {
    -fx-background-color: null;
    -fx-padding: 0.0em 0.083333em 0.0em 0.0em; /* 0 1 0 0 */
    -fx-border-color: transparent derive(-fx-background, -20%) transparent transparent;
}

/* Tree-view and Tree-cell*/
.tree-view {
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.tree-cell {
    -fx-indent: 18;
}

.tree-cell:filled:hover {
    -fx-background-color: -fx-alt-light;
}

.tree-cell:selected:hover {
    -fx-background-color: -fx-medium;
    -fx-font-weight: bold;
}

.tree-cell:focused:selected:hover {
    -fx-background-color: -fx-medium;
    -fx-font-weight: bold;
}

.tree-cell:selected {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

.tree-cell:focused:selected {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

.tree-cell:focused:selected .cellText {
    -fx-text-fill: white;
}

.tree-cell:selected .cellText {
    -fx-text-fill: white;
}

.tree-cell:selected:hover .cellText {
    -fx-font-weight: bold;
}

.tree-cell:focused:selected:hover .cellText {
    -fx-font-weight: bold;
}

#ignored .text {
    -fx-strikethrough: true;
}

.main-tree {
    /*-fx-border-color: -fx-dark;*/
}

/* Schema */
.schemaNode .cellText {
    -fx-opacity: 85%;
}

.schemaNode:focused:selected {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

.schemaNodeHovered {
    -fx-background-color: lightgray;
}

.schemaNodeEmpty {
    -fx-text-fill: black;
}

.schemaNodeEmpty:filled:hover {
    -fx-background-color: lightgray;
}

.schemaNodeEmpty:focused:selected {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

/* List-cell */

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-padding: 5px;
}

.list-cell:focused:selected {
    -fx-background-color: white;
}

.ruleCell {
    -fx-border-color: lightgray;
    -fx-border-width: 2;
    -fx-background-color: white;
}

.ruleCell .label {
    -fx-font-size: medium;
    -fx-text-fill: black;
}

.ruleCell .title {
    -fx-font-size: large;
}

.ruleCell .top {
    -fx-background-color: lightgray;
}

.ruleCell .separator .line {
    -fx-border-color: lightgray;
}

.ruleCell:focused:selected .separator .line {
    -fx-border-color: lightgray;
}

.ruleCell .hyperlink {
    -fx-text-fill: -fx-medium;
}

.list-cell:focused:selected .ruleCell {
    -fx-border-color: -fx-medium;
}

.list-cell:focused:selected .ruleCell .top {
    -fx-background-color: -fx-medium;
}

.list-cell:focused:selected .ruleCell .top * {
    -fx-text-fill: white;
}

.list-cell:focused:selected .ruleCell .title {
    -fx-text-fill: white;
}

.ruleCell .top .button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 2px 2px 2px 5px;
}

.ruleCell .top .button:hover {
    -fx-text-fill: dimgray;
}

.ruleCell .top .button:pressed {
    -fx-text-fill: -fx-light;
}

.list-cell:focused:selected .top .button:hover {
    -fx-text-fill: -fx-dark;
}

.list-cell:focused:selected .top .button:pressed {
    -fx-text-fill: black;
}

/* ScrollPane */
.scroll-pane {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.context-menu {
  -fx-background-color: white;
  -fx-text-fill: white;
  -fx-cursor: default;
}

.menu-item .label {
  -fx-text-fill: black;
}

.menu-item:focused .label {
  -fx-text-fill: white;
}


.date-picker-popup, .menu-item{
	-fx-cursor: default;
}
