.title {
    -fx-font-size: x-large;
}

/* Inspection */
.inspectionPart {
    -fx-border-width: 1;
    -fx-border-color: #089de3;
}

.inspectionPart .hbox {
    -fx-background-color: #089de3;
}

.inspectionPart .label{
    -fx-font-size: large;
    -fx-text-fill: white;
}

.sipId {
    -fx-font-size: small;
}

.hiddenTextField{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-text-fill: gray;
}

.text-area {
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Tree-view and Tree-cell*/
.tree-view {
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.tree-cell {
    -fx-indent: 18;
}

.tree-cell:filled:hover {
    -fx-background-color: powderblue;
}

.tree-cell:focused:selected {
    -fx-background-color: #089de3;
    -fx-text-fill: white;
}

.tree-cell:focused:selected .cellText {
    -fx-text-fill: white;
}

#ignored .text{
    -fx-strikethrough: true;
}

/* Schema */
.schemaNode {
    -fx-text-fill: grey;
}

.schemaNode:filled:hover {
    -fx-background-color: powderblue;
}

.schemaNode:focused:selected{
    -fx-background-color: #089de3;
    -fx-text-fill: white;
}

.schemaNodeHovered{
    -fx-background-color: powderblue;
}

/* List-cell */

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.list-cell{
    -fx-padding: 5px;
}

.list-cell:focused:selected {
    -fx-background-color: white;
}

.ruleCell{
    -fx-border-color: lightgray;
    -fx-border-width: 2;
    -fx-background-color: white;
}

.ruleCell .label{
    -fx-font-size: medium;
    -fx-text-fill: black;
}

.ruleCell .title {
    -fx-font-size: large;
}

.ruleCell .top {
    -fx-background-color: lightgray;
}

.list-cell:focused:selected .ruleCell {
    -fx-border-color: #089de3;
}

.list-cell:focused:selected .ruleCell .top{
    -fx-background-color: #089de3;
}

.list-cell:focused:selected .ruleCell .top * {
    -fx-text-fill: white;
}

.list-cell:focused:selected .ruleCell .title {
    -fx-text-fill: white;
}

.ruleCell .top .button{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 2px 2px 2px 5px;
}

.ruleCell .top .button:hover {
    -fx-background-color: #c8c8c8;
    -fx-border-color: #555555;
}

.list-cell:focused:selected .top .button:hover {
    -fx-background-color: #3998d0;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.list-cell:focused:selected .top .button:pressed {
    -fx-background-color: #5bbeff;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

