.modal {
    -fx-border-color: -fx-dark;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.hbox {
    -fx-background-color: -fx-dark;
}

#title {
    -fx-font-size: large;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.modal #sub-title {
    -fx-font-size: large;
    -fx-font-weight: bold;
}

.modal .label {
    -fx-font-size: medium;
    -fx-text-fill: gray;
}

.modal .cell .title {
    -fx-font-size: large;
    -fx-text-fill: black;
    -fx-font-weight: 600;
}

.modal .cell .description {
    -fx-text-fill: dimgray;
}

/* SIP creator modal*/
.sipcreator {
    -fx-border-color: -fx-dark;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.sipcreator #subtitle {
    -fx-font-size: medium;
    -fx-text-fill: grey;
}

.sipcreator .progress-bar > .bar {
    -fx-background-color: -fx-medium;
    -fx-border-width: 2px;
}

.prepareCreationSubtitle {
    -fx-font-size: large;
    -fx-text-fill: grey;
}

/* List-view */
.list-view {
    -fx-background-color: white;
}

.list-cell {
    -fx-padding: 5px;
    -fx-background-color: white;
}

.list-cell:focused {
    -fx-background-color: -fx-alt-light;
}

.list-view *.scroll-bar:horizontal *.increment-button,
.list-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view *.scroll-bar:horizontal *.increment-arrow,
.list-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.list-view *.scroll-bar:vertical *.increment-button,
.list-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view *.scroll-bar:vertical *.increment-arrow,
.list-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

/*Combo-box */
.list-cell .combo-box {
    -fx-border-color: -fx-dark;
}
