* {
	-fx-darker: #0773a6;
    -fx-dark: #089de3;
    -fx-medium: #5bbeff;
    -fx-light: #9ad1f5;
    -fx-alt-dark: #9DA4A9;
    -fx-alt-light: #D3D7DA;
    -fx-bckg: white;
}

.root {
    -fx-font-family: "Ubuntu Light";
    -fx-background: -fx-bckg;
}

.border-pane {
    -fx-background-color: -fx-bckg;
}

.split-pane {
    -fx-background-color: -fx-bckg;
}

.boldText {
    -fx-font-weight: bold;
}

.alert {
    -fx-border-color: -fx-dark;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.alert:header *.header-panel {
    -fx-background-color: -fx-dark;
}

.alert:header *.header-panel *.label {
    -fx-text-fill: white;
}

/* Buttons */
.button {
    -fx-background-color: -fx-dark;
    -fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button .text {
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: -fx-medium;
}

.button:pressed {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

.button-secondary {
    -fx-background-color: -fx-medium;
}

.button-secondary:hover {
    -fx-background-color: -fx-light;
}

.dark-button {
    -fx-background-color: -fx-alt-dark;
    -fx-cursor: hand;
}
.dark-button:hover {
    -fx-background-color: -fx-alt-light;
    -fx-text-fill: -fx-alt-dark !important;
}

.dark-button:pressed {
    -fx-background-color: -fx-alt-light;
}
.export-button {
    -fx-background-color: -fx-darker;
    -fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.export-button:hover {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

.export-button:pressed {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

/* Help */
.helpTitle {
    /*-fx-font-size: 140%;*/
    -fx-font-size: xx-large;
    -fx-text-fill: black;
}

.helpButton {
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-background-color: #eaeaea;
    -fx-text-fill: black;
    -fx-font-size: x-large;
}

.helpButton:hover {
    -fx-background-color: -fx-dark;
    -fx-text-fill: white;
}

.helpButtonSmall {
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-background-color: #eaeaea;
    -fx-text-fill: black;
    -fx-font-size: large;
}

.helpButtonSmall:hover {
    -fx-background-color: -fx-light;
    -fx-text-fill: white;
}

.helpToken {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0 0.15em 0 0.15em;
}

.helpToken:hover {
    -fx-background-color: rgba(211, 211, 211, 0.35);
}

.helpTokenPopOver .web-view{
    -fx-max-width: 600px;
    -fx-max-height: 400px;
    -fx-text-fill: black;
    -fx-font-weight: lighter;
}

/* Combo-Box */
.combo-box-base .list-view .list-cell {
    -fx-background-color: -fx-dark;
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: -fx-medium;
    -fx-text-fill: white;
}

.combo-box .list-view {
    -fx-border-color: transparent;
}

.combo-box {
    -fx-background-color: -fx-dark;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-max-height: 10;
}

.combo-box-base .list-cell {
    -fx-background-color: -fx-dark;
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: -fx-light;
}

.combo-box .arrow {
    -fx-background-color: white;
}

/* Menu */

.menu:focused {
    -fx-background-color: -fx-dark;
}

.menu:hover {
    -fx-background-color: -fx-dark;
}

.menu:showing {
    -fx-background-color: -fx-dark;
}

.menu-item:focused {
    -fx-background-color: -fx-dark;
}

.menu-item:hover {
    -fx-background-color: -fx-dark;
}



/* Tooltip */

.tooltip {
    -fx-font-size: 1em;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.92);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}