.root{
    -fx-font-family: "Ubuntu Light";
}

.border-pane {
    -fx-background-color: white;
}

.split-pane {
    -fx-background-color: white;
}

.boldText {
    -fx-font-weight: bold;
}

/* Buttons */
.button {
    -fx-background-color: #089de3;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
    -fx-text-fill: white;
    -fx-border-radius: 2px;
}

.button .text {
    /*-fx-font-family: "Ubuntu Light";*/
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #3998d0;
}

.button:pressed {
    -fx-background-color: #5bbeff;
    -fx-text-fill: white;
}

/* Help */
.helpTitle {
    /*-fx-font-size: 140%;*/
    -fx-font-size: xx-large;
    -fx-text-fill: black;
}

.helpButton {
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-background-color: #eaeaea;
    -fx-text-fill: black;
    -fx-font-size: x-large;
}

.helpButton:hover {
    -fx-background-color: #089de3;
    -fx-text-fill: white;
}

.helpButtonSmall {
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-background-color: #eaeaea;
    -fx-text-fill: black;
    -fx-font-size: large;
}

.helpButtonSmall:hover {
    -fx-background-color: #089de3;
    -fx-text-fill: white;
}

/* Combo-Box */
.combo-box-base .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: darkgray;
    -fx-text-fill: black;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.combo-box-base .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: lightgray;
}