<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
    <property name="LOG_PATH" value="${roda-in-log-path:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>
    <!--Suppress logback's initial debug output-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
    </appender>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/roda-in.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/Log archive/log.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <logger name="debugToConsole" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="logToFile" level="error" additivity="false">
        <appender-ref ref="LOGFILE"/>
    </logger>

    <logger name="org.apache.commons.configuration.PropertiesConfiguration" additivity="false">
        <appender-ref ref="LOGFILE"/>
    </logger>

    <logger name="gov.loc.repository.bagit" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="LOGFILE"/>
    </logger>

    <logger name="org.roda_project.commons_ip" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="LOGFILE"/>
    </logger>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGFILE"/>
    </root>

</configuration>
