.title {
    -fx-font-size: x-large;
}

.inspectionPart {
    -fx-border-width: 1;
    -fx-border-color: lightgray;
}

.inspectionPart .hbox {
    -fx-background-color: lightgray;
}

.inspectionPart .label{
    -fx-font-size: large;
}

.tree-view {
    -fx-background-color: white;
}

.tree-cell {
    -fx-text-fill: black;
}

.text-area {
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}