.modal {
    -fx-border-color: lightgray;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.modal .hbox {
    -fx-background-color: lightgray;
}

.modal #title {
    -fx-font-size: x-large;
    -fx-text-fill: black;
}

.modal .label {
    -fx-font-size: medium;
    -fx-text-fill: gray;
}